p {
    border-style:solid; 
    border-color:rgb(3, 1, 1);
    font-size: 40px;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
}

div.weight{
    font-size: 40px;
    z-index: 3;
    margin: 10px;
    padding: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.display #_45{
    height: 250px;
    width: 40px;
    background-color: #326a9e;
}

.display #_35{
    height: 200px;
    width: 40px;
    background-color: #bd3a3a;
}
.display #_25{
    height: 150px;
    width: 40px;
    background-color: #729b31;
}
.display #_10{
    height: 100px;
    width: 40px;
    background-color: #365da5;
}
.display #_5{
    height: 85px;
    width: 20px;
    background-color: #973887;
}


#button_5{
    height: 85px;
    width: 20px;
    background-color: #973887; 
}

#button_10{
    height: 100px;
    background-color: #365da5;  
}

#button_25{
    height: 150px;
    background-color: #729b31;  
}

#button_35{
    height: 200px;
    background-color: #bd3a3a;   
}

#button_45{
    height: 250px;    
    background-color: #326a9e; 
}

#reset{
    height: 30px;

    width: 70px; 
    background-color: #e8edf1;
    border-radius: 0px;
}

.button { 
    border: none;
    width: 40px;
    margin: 5px;
    padding: 0px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.display {
    z-index: 2;
    position: relative;
    align-items: center;
    display: flex;
    background-color: rgb(173, 184, 178);
    /* top: 75px; */
    height: 400px;
    width: 100%;
    border-radius: 10px;
}

.bar {
    z-index: 2;
    position: absolute;
    height: 20px;
    width: 500px;
    background-color: rgb(89, 92, 94); 
    border-bottom: 3px solid #000000;
	border-radius: 0px 7px 7px 0px;
	text-align: center;
	padding: 0;
	margin: 0 25px 0 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}
#bushing {
    z-index: 3;
    position: absolute;
    margin: 0 25px 0 0;
    height: 40px;
    width: 40px;
    background-color: #729b31;
    display: flex;
}
